body{
font-family: Arial;
margin:0;
padding:20px;

background: linear-gradient(
135deg,
#ff6d00,
#ff9e00,
#5a189a,
#9d4edd
);
}

/* Website title */
.title{
text-align:center;
color:#590d22;
font-family:Castellar;
}

/* Product container */
.product-container{
display:flex;
gap:40px;
margin-top:30px;
background:#fff0f3;
padding:25px;
border-radius:12px;
}

/* Product image */
.product-image{
width:350px;
border-radius:10px;
}

/* Product details */
.product-details{
max-width:500px;
color:#590d22;
}

/* Price styling */
.price{
font-size:25px;
color:#c9184a;
font-weight:bold;
}

/* Button */
.cart-btn{
background-color:#ff4d6d;
color:white;
border:none;
padding:12px 20px;
font-size:16px;
border-radius:5px;
cursor:pointer;
margin-top:20px;
}

.cart-btn:hover{
background-color:#a4133c;
}

/* Related products section */
.related{
margin-top:60px;
color:#590d22;
font-weight:bold;
font-size:28px;
text-align:center;
}

.gallery{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
margin-top:20px;
}

.item{
text-align:center;
background:#fff0f3;
padding:10px;
border-radius:10px;
}

.item img{
width:150px;
height:150px;
object-fit:cover;
border-radius:10px;
}

.item p{
font-weight:600;
margin-top:8px;
}

.coraline-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.teddy-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.teddy-img{
width:420px;
height:260px;
object-fit:cover;
border-radius:10px;
}

.bride-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.bride-img{
width:420px;
height:260px;
object-fit:cover;
border-radius:10px;
}


.puppy-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.puppy-img{
width:420px;
height:260px;
object-fit:cover;
border-radius:10px;
}



.bottle-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.bottle-img{
width:420px;
height:400px;
object-fit:contain;
border-radius:10px;
}


.bear-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.bear-img{
width:420px;
height:260px;
object-fit:cover;
border-radius:10px;
}


.bunny-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.bunny-img{
width:420px;
height:260px;
object-fit:cover;
border-radius:10px;
}


.chick-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.chick-img{
width:420px;
height:600px;
object-fit:cover;
border-radius:10px;
}


.gift-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.gift-img{
width:420px;
height:500px;
object-fit:cover;
border-radius:10px;
}


.dolphin-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.dolphin-img{
width:420px;
height:350px;
object-fit:cover;
border-radius:10px;
}


.elephant-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.elephant-img{
width:420px;
height:450px;
object-fit:cover;
border-radius:10px;
}


.flower-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.flower-img{
width:420px;
height:500px;
object-fit:cover;
border-radius:10px;
}


.lightfury-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.lightfury-img{
width:420px;
height:480px;
object-fit:cover;
border-radius:10px;
}


.earbunny-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.earbunny-img{
width:420px;
height:500px;
object-fit:cover;
border-radius:10px;
}


.nightfury-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.nightfury-img{
width:420px;
height:480px;
object-fit:cover;
border-radius:10px;
}


.penguin-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.penguin-img{
width:420px;
height:480px;
object-fit:cover;
border-radius:10px;
}


.stringray-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.stringray-img{
width:420px;
height:480px;
object-fit:cover;
border-radius:10px;
}


.turtle-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.turtle-img{
width:420px;
height:450px;
object-fit:cover;
border-radius:10px;
}


.whale-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.whale-img{
width:420px;
height:320px;
object-fit:cover;
border-radius:10px;
}


.naruto-page{
background: linear-gradient(
135deg,
#7400b8,
#6930c3,
#5e60ce,
#5390d9,
#4ea8de,
#48bfe3,
#56cfe1,
#64dfdf,
#72efdd,
#80ffdb
);
}

.naruto-img{
width:420px;
height:450px;
object-fit:cover;
border-radius:10px;
}
